<div class="center hero-unit">
  <h1>欢迎来到问卷网站</h1>

  <h2>
    这是一个问卷网站
  </h2>

  <%= link_to "现在就注册!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("thuir.png", alt: "thuir"), 'http://www.thuir.cn/' %>
