<footer class="footer">
  <small>
    <a href="http://www.thuir.cn/">Fireflies组</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   '#' %></li>
      <li><%= link_to "联系我们", '#' %></li>
      <li><a href="http://news.railstutorial.org/">动态</a></li>
    </ul>
  </nav>
</footer>
